@model IEnumerable<Product>

<input id="count" type="hidden" value="@ViewBag.ProductCount" />
@foreach (var item in Model)
{


    <div data-id="@item.Category?.Name.ToLower();">

        <div class="item-zoom2 soldForTab">
            <img src="~/../img/Img-forCardMain/@item.ImageUrl" alt="">
        </div>

        <span>
            @item.Name
        </span>

        <span>
            $@item.Price
        </span>

    </div>



    <div class="row justify-content-center mt-3">
        <button id="loadMore" class="btn btn-success">
            Load more...
        </button>
    </div>


}
