@using Microsoft.AspNetCore.Identity
@model IList<IdentityRole>
@{
    ViewData["Title"] = "Index";
}


@foreach (var item in Model)
{
<table class="table table-active">
    
    <tr>
       

        <td>
            <a>@item.Name</a>

        </td>
        <td>
            <a asp-controller="Role" asp-action="DeleteRole" asp-route-Id="@item.Id" class="btn btn-default" style="background-color: black; color: white;">Delete</a>

        </td>

    </tr>
</table>
}
<br />
<br />
<a asp-controller="Role" asp-action="Create" class="btn btn-default" style="background-color: orange;color:white;">Create Role</a>
